body {
    font-family: 'Roboto', 'Montserrat';
    margin: 0;
    padding: 0;
    background-color: cornflowerblue;
}

h1 {
    text-align: center;
    color: white;
    padding-top: 270px;
}

h2 {
    text-align: center;
    color: blue;
}